#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;  
}

#form-input{
  width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-distance {
  margin: 0 5px;
}

#display {
  margin: 20px auto;
}

.list-item {
  list-style: none;
}

.time {
  width: 25px;
  margin: 0 5px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
